th {
    height: 50px;
    width: 130px;
    border: 1 px solid black;
    background-color: #00BCD4;
    color: white;
    opacity: 0;
}

td {
    height: 50px;
    width: 130px;
    border: 1 px solid black;
    background-color: #B1EAF1;
}

body {
    background: #2979FF;
}

p {
    color: white;
    font-size: 0px;
    text-shadow: 0px 0px 5px white;
    text-align: center;
}

input {
    background-color: #58B957;
    border-radius: 5px;
    border: 1px solid darkgreen;
    height: 0%;
    box-shadow: 5px 5px 50px 5px darkgreen;
}

input:hover {
    background: rgb(79, 173, 78);
}

table {
    display: none;
}

form {
    width: 90%;
    position: relative;
    margin: auto;
    text-align: center;
    display: none;
}

tbody,
thead {
    box-shadow: 0 0 3px black;
}