#myModalO body {
    background-color: #234465;
}

#myModalO .cont {
    background: radial-gradient(#2F86D3, #859ED6, #234465);
    width: 600px;
    height: 600px;
    margin: 0;
}

#myModalO .camera {
    background-color: #2D5377;
    display: inline-block;
    height: 150px;
    width: 150px;
    padding-top: 50px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 80px;
    left: 225px;
    color: white;
}

#myModalO .loginO {
    position: absolute;
    top: 150px;
    left: 100px;
    height: 300px;
    width: 400px;
    border: 1px solid white;
    border-radius: 2%;
}

#myModalO input {
    display: block;
}

#myModalO .fa-user {
    position: absolute;
    color: grey;
    top: 127px;
    left: 58px;
    z-index: 1;
}

#myModalO .fa-lock {
    position: absolute;
    color: grey;
    font-size: 24px;
    top: 170px;
    left: 58px;
    z-index: 1;
}

#myModalO input[type="text"],
#myModalO input[type="password"] {
    width: 300px;
    height: 35px;
    position: relative;
    top: 120px;
    margin-bottom: 10px;
    left: 50px;
    padding-left: 35px;
}

#myModalO input[type="button"] {
    width: 300px;
    height: 30px;
    position: absolute;
    top: 220px;
    left: 50px;
    color: white;
    background: linear-gradient(to right, #0681A3, #055695);
    border: none;
}

#myModalO input[type="checkbox"] {
    display: inline-block;
    position: absolute;
    top: 265px;
    left: 50px;
}

#myModalO label {
    display: inline-block;
    position: absolute;
    top: 265px;
    left: 70px;
    color: #25476C;
}

#myModalO a {
    display: inline-block;
    position: absolute;
    top: 265px;
    left: 240px;
    text-decoration: none;
    font-weight: 600;
    color: #25476C;
    font-style: italic;
}

#myModalO i {
    color: white;
}

#myModalO .footer {
    position: absolute;
    top: 460px;
    left: 190px;
    color: white;
}

#Oerror {
    color: red;
    font-size: 10px;
    position: absolute;
    top: 210px;
    left: 50px;
}

#Osuccess {
    color: green;
    font-size: 10px;
    position: absolute;
    top: 210px;
    left: 50px;
}